<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Sistema de Horários</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>

</head>

<body>

  <header>
    <h1>Sistema de Horários</h1>
    <img src="/assets/logo-fatec.png" alt="Logo Fatec" class="logo-fatec">
  </header>

  <div class="filtros">
    <div class="dropdown">
      <button class="filtro" data-tipo="curso" data-valor="">Curso ▾</button>
      <div class="dropdown-menu">
        <div class="opcao">Meio Ambiente e Recursos Hídricos</div>
        <div class="opcao">Geoprocessamento</div>
        <div class="opcao">Desenvolvimento de Software Multiplataforma</div>
      </div>
    </div>

    <div class="dropdown">
      <button class="filtro" data-tipo="turno" data-valor="">Turno ▾</button>
      <div class="dropdown-menu">
        <div class="opcao">Diurno</div>
        <div class="opcao">Noturno</div>
      </div>
    </div>

    <div class="dropdown">
      <button class="filtro" data-tipo="semestre" data-valor="">Semestre ▾</button>
      <div class="dropdown-menu">
        <div class="opcao">1</div>
        <div class="opcao">2</div>
        <div class="opcao">3</div>
        <div class="opcao">4</div>
        <div class="opcao">5</div>
        <div class="opcao">6</div>
      </div>
    </div>

    <button class="filtro" id="btn-procurar">Buscar</button>
  </div>

  <main class="conteudo">
    <div class="itinerario-grande">
      <h3>ITINERÁRIO</h3>
      <div class="semana">
        <div class="dia"><strong>SEGUNDA</strong>
          <p></p>
        </div>
        <div class="dia"><strong>TERÇA</strong>
          <p></p>
        </div>
        <div class="dia"><strong>QUARTA</strong>
          <p></p>
        </div>
        <div class="dia"><strong>QUINTA</strong>
          <p></p>
        </div>
        <div class="dia"><strong>SEXTA</strong>
          <p></p>
        </div>
      </div>

      <div class="acoes">
        <button id="exportar">EXPORTAR PDF</button>
        <a href="../mapaAmbiente/index.html" target="_blank">
          <button>MAPA DE AMBIENTE</button>
        </a>

      </div>
    </div>
  </main>

  <script src="script.js"></script>
</body>

</html>