<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Secretaria Acadêmica - Coordenador</title>
  <link rel="stylesheet" href="style.css" />
  <script src="script.js"></script>
</head>

<body>
  <div class="container">
    <div class="menu-toggle" onclick="toggleSidebar()">
      <div class="barra"></div>
      <div class="barra"></div>
      <div class="barra"></div>
    </div>

    <div class="sidebar" id="sidebar">
      <nav class="menu-itens">
        <ul>
          <li onclick="mostrarSecao('perfil')">Perfil</li>
          <li><a onclick="mostrarSecao('administrativo')">Área Administrativa</a></li>
        </ul>
      </nav>
    </div>

    <div class="main-content">
      <div class="header">
        <img src="/assets/adm/logo-fatec.png" alt="Fatec Jacareí" class="logo-fatec" />
      </div>
      <div id="profile-section" class="profile-section">
        <img src="/assets/adm/icon-perfil.png" alt="Ícone de perfil" class="profile-icon" />
        <div class="info-text">
          <p class="top-label">Secretaria Acadêmica</p>
          <p><strong>Coordenador(a):</strong> João da Silva</p>
          <p>Email: joao.silva@fatec.sp.gov.br</p>
          <p>FATEC de Jacareí</p>
          <p>Professor Francisco de Moura</p>
        </div>
      </div>

      <div id="conteudo-dinamico" class="conteudo"></div>
    </div>
  </div>
</body>

</html>